:root {
  --color-white: #faf8f8;
  --color-black: #0a0908;
  --color-links: #284b63;
  --color-hover: rgba(40, 75, 99, 0.4);
  --background-links: rgba(176, 187, 207, 0.4);

  --darkreader-bg--color-white: #080000;
  --darkreader-text--color-white: #efede8;
  --darkreader-text--color-black: #edeae5;
  --darkreader-text--color-links: #00ff00;
  --darkreader-text--color-hover: #e94562;
  --darkreader-bg--background-links: rgba(126, 237, 247, 0.0);

  --font-size-h1: 21px;
  --font-size-p: 16;

  --line-height-p: 1.1;

  --sidebar-padding: 8px;
  --sidebar-hover-padding: 16px;
  --sidebar-font-size: 18px;

 <!-- --transition-duration: 0.3s; --!>
  --transition-hover-duration: 0.4s;

  --max-width-content: 800px;
  --margin-zero: 0;
  --padding-body: 2px 2px 2px 2px;
  --border-radius-img: 50%;
  --width-img: 70px;
}

body {
  font-family: monospace,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif;
  font-size: 16px;
  align-items: center;
  color: var(--color-black);
  margin: var(--margin-zero);
  padding: ;
  position: relative;
  background-color: var(--color-white);
  text-align: left;
}

.content {
  align-items: center;
  max-width: var(--max-width-content);
  margin: var(--margin-zero) auto;
}

h2.content {
  font-size: var(--font-size-h2);
  text-align: center;
}

h1.content {
  font-size: var(--font-size-h1);
  text-align: center;
}

h1 img {
  width: var(--width-img);
  height: auto;
  border-radius: var(--border-radius-img);
  align-items: center;
  vertical-align: middle;
}

.content p {
  font-size: var(--font-size-p);
  line-height: var(--line-height-p);
}

.content li {
  text-align: left;
  margin-bottom: 10px;
}

a {
  background-color: var(--background-links);
  border-radius: 5px;
  color: var(--color-links);
  font-weight: 600;
  text-decoration: none;
  transition: color .2s;
}

a:hover {
  background-color: var(--background-links);
  border-radius: 5px;
  color: var(--color-hover);
  font-weight: 600;
  text-decoration: none;
  transition: color .2s;
}

.output {
  color: var(--color-white);
}

.gif-image {
  position: absolute;
  bottom: 0;
  right: 0;
}

.sidebar {
  padding: var(--sidebar-padding);
  text-align: center;
  display: block;
  color: var(--color-links);
}

@media screen and (min-width: 500px) {
 <!-- (unnecessary)ANIMATIONS --!>
  .sidebar a:hover {
 <!--  text-decoration: underline; --!>
 <!--  padding: var(--sidebar-padding); --!>
 <!--  padding: var(--sidebar-hover-padding); --!>
 <!--  transition: var(--transition-hover-duration); --!>
 <!--  display: inline-table; --!>
  }
  .sidebar a {
    padding: var(--sidebar-padding);
    text-decoration: none;
    font-size: var(--sidebar-font-size);
    transition: var(--transition-duration);
    display: inline-table;
  }
}

@media screen and (max-width: 500px) {
 <!-- (unnecessary)ANIMATIONS --!>
  .sidebar a:hover {
 <!--  text-decoration: underline; --!>
 <!--  padding: var(--sidebar-padding); --!>
 <!--  padding: var(--sidebar-hover-padding); --!>
 <!--  transition: var(--transition-hover-duration); --!>
 <!--  display: block; --!>
  }
  .sidebar a {
    padding: var(--sidebar-padding);
    text-decoration: none;
    font-size: var(--sidebar-font-size);
    transition: var(--transition-duration);
    display: block;
  }
}

  .tableinfo {
    padding: 20px;
    background-color: var(--color-white);
  }
  
  .tableinfo p {
    margin-bottom: 10px;
  }
  
  .article-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
  }
  
  .article-table th, .article-table td {
    border: 1px solid var(--color-black);
    padding: 8px;
    text-align: left;
  }
  
  .article-table th {
    color: var(--color-links);
  }
  
  
  .article-table a {
    text-decoration: none;
    color: var(--color-links);
  }
  
  .article-table a:hover {
    text-decoration: underline;
    color: var(--color-hover);
  }
