:root {
  --color-white: #faf8f8;
  --color-black: #0a0908;
  --color-green: #00ff00;
  --color-red: #b5223b;

  --accent-1-dark-mode #00ff00;
  --accent-2-dark-mode #b5223b;

  --accent-1-light-mode #faf8f8;
  --accent-2-light-mode #15141A

  --font-size-h1: 21px;
  --font-size-p: 16;
  --line-height-p: 1.1;
  --sidebar-padding: 8px;
  --sidebar-hover-padding: 16px;
  --sidebar-font-size: 18px;
 <!-- --transition-duration: 0.3s; --!>
  --transition-hover-duration: 0.4s;
  --margin-top-footer: 50px;
  --max-width-content: 800px;
  --margin-zero: 0;
  --padding-body: 20px;
  --border-radius-img: 50%;
  --width-img: 70px;
}

body {
  font-family: sans-serif;
  font-size: 16px;
  align-items: center;
  color: var(--color-white);
  margin: var(--margin-zero);
  padding: var(--padding-body);
  position: relative;
  background-color: var(--color-black);
  text-align: left;
}

.content {
  align-items: center;
  max-width: var(--max-width-content);
  margin: var(--margin-zero) auto;
}

h2.content {
  font-size: var(--font-size-h2);
  text-align: center;
}

h1.content {
  font-size: var(--font-size-h1);
  text-align: center;
}

h1 img {
  width: var(--width-img);
  height: auto;
  border-radius: var(--border-radius-img);
  align-items: center;
  vertical-align: middle;
}

.content p {
  font-size: var(--font-size-p);
  line-height: var(--line-height-p);
}

.content li {
  text-align: left;
  margin-bottom: 10px;
}

a {
  color: var(--color-green);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  color: var(--color-red);
}

.output {
  color: var(--color-white);
}

.gif-image {
  position: absolute;
  bottom: 0;
  right: 0;
}

.sidebar {
  padding: var(--sidebar-padding);
  text-align: center;
  display: block;
  color: var(--color-green);
}

@media screen and (min-width: 500px) {
 <!-- (unnecessary)ANIMATIONS --!>
  .sidebar a:hover {
 <!--  text-decoration: underline; --!>
 <!--  padding: var(--sidebar-padding); --!>
 <!--  padding: var(--sidebar-hover-padding); --!>
 <!--  transition: var(--transition-hover-duration); --!>
 <!--  display: inline-table; --!>
  }
  .sidebar a {
    padding: var(--sidebar-padding);
    text-decoration: none;
    font-size: var(--sidebar-font-size);
    transition: var(--transition-duration);
    display: inline-table;
  }
}

@media screen and (max-width: 500px) {
 <!-- (unnecessary)ANIMATIONS --!>
  .sidebar a:hover {
 <!--  text-decoration: underline; --!>
 <!--  padding: var(--sidebar-padding); --!>
 <!--  padding: var(--sidebar-hover-padding); --!>
 <!--  transition: var(--transition-hover-duration); --!>
 <!--  display: block; --!>
  }
  .sidebar a {
    padding: var(--sidebar-padding);
    text-decoration: none;
    font-size: var(--sidebar-font-size);
    transition: var(--transition-duration);
    display: block;
  }
}
